@media screen and (max-width: 768px) {
/* hamburger */
#menu.open::before {
  cursor: pointer;
    content: "X";
  }

#menu::before {
    font-size: 25px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    content: "☰";
  }
  .navigation a{
    width: 100%;
    text-align: center;
    padding: 10px;
    display: none;
  }
.navigation.open a {
    display: block;
  }
  .open{
    width: 100%;
    flex-direction: column;
  }
  .navigation.open a:hover {
    background: #ddd;
    color: #28a745;
}


  /* add hamburger style */
  header{
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
  }
  header h1{
    grid-column: 1/3;
    font-size: 20px;
  }
  .navigation{
    grid-column: 1/4;
  }
}
