@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap");
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
}

header {
  position: sticky;
  top: 0%;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #631D76;
  color: #fff;
  padding: 10px 0;
}
header span {
  font-family: "Sofadi One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  font-weight: 900;
  color: #080807;
}

header nav ul {
  list-style: none;
  text-align: center;
}

header nav ul li {
  display: inline-block;
  margin: 0 15px;
}

header nav ul li a {
  color: #fff;
  transition: ease-in 0.5s;
  font-size: 18px;
  text-decoration: none;
}

.active {
  border-bottom: 1px solid #000;
  color: #fff;
}

/* Hero Section */
.hero {
  background-image: url(hero.jpg);
  color: white;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.hero h1 {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

.hero button {
  background-color: black;
  border: none;
  padding: 10px 12px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
}
.hero button:hover {
  background-color: #333;
  color: #ddd;
}


/* Responsive Product Grid */
.product-grid {
  display: flex;
  width: 60%;
  margin: 1%;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}
.products h2 {
  font-family: "Sofadi One", system-ui;
  font-size: 30px;
  margin: 1%;
}

.product-card {
  border: 1px solid #ddd;
  padding: .5rem;
  width: 100%;
  max-width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease;
}
.product-card h3 {
  font-size: 16px;
  font-variant: small-caps;
}

.product-card img {
  width: 20px;
}

.product-card:hover {
  transform: scale(1.01);
}


/* Cart */
.cart {
  padding: 30px;
  background-color: #f9f9f9;
  margin-top: 20px;
}

#cartItems {
  list-style-type: none;
  padding: 0;
}

#cartItems li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#checkoutBtn {
  margin-top: 20px;
  background-color: #4caf50;
  padding: 10px 30px;
  color: white;
}

#checkoutBtn:hover {
  background-color: #45a049;
}

/* Footer */
footer {
  background-color: #631D76;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer .social-media a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}
footer span {
  font-family: "Sofadi One", system-ui;
  font-size: 30px;
  font-weight: 900;
  color:#000;
}
.social-media i {
  font-size: 30px;
  color:#fff;
}
.social-media i:hover {
  font-size: 30px;
  color: #000;
}

.social-media a {
  color: #631D76;
  border-radius: 50%;
}

/* Buttons General */
button {
  background-color:#631D76;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  border-radius: 2px;
}

button:hover {
  background-color: #631D76;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #631D76;
}

::-webkit-scrollbar-track {
  background-color: #f1efef;
  width: 10px;
}
