:root{
  --primary-color: linear-gradient(135deg, #13072e, #3f2182);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  z-index: 5;
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
  color: #fff;
}
header h1{
  padding: 10px;
}

.navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.navigation a {
  font-size: 20px;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}

.hero {
  background-image: url(hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
  text-align: center;
  padding: 50px 20px;
}

.hero h1,p{
  color: #fff;
}

.hero h1{
  font-size: 30px;
}

.hero p{
  font-size: 20px;
}

#checkout-btn{
  padding: 1rem;
  font-size: 18px;
  transition: background ease .3s;
  outline: none;
  border: none;
}
.hero button{
  padding: 1rem;
  font-size: 18px;
  transition: background ease .3s;
  outline: none;
  border: none;
  background-color: #fff;
}


.hero button:hover{
  cursor: pointer;
  background-color: #fff;
  color: var(--primary-color);
}

#checkout-btn:hover{
  cursor: pointer;
  background-color: red;
}


.products {
  padding: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.product-card {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  transition: transform 0.2s;
}

.product-card img{
  width: 100%;
  height: 200px;
}

.product-card:hover {
  transform: scale(1.01);
}

.product-card h3 {
  font-size: 1.2em;
}

.product-card p {
  color: #000;
}

.product-card button {
  background: var(--primary-color);
  color: white;
  font-size: 15px;
  border: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.product-card button:hover {
  background: var(--primary-color);
}

.shopping-cart {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
}

.shopping-cart h3 {
  margin: 0;
}

#total-price {
  font-weight: bold;
}

.about, .comments {
  padding: 20px;
  background: #f9f9f9;
  color: #000;
  margin: 20px 0;
  border-radius: 5px;
}

.about p{
  color: #000;
}

.about h2, .comments h2 {
  text-align: center;
  margin-bottom: 10px;
}

.comments {
  border: 1px solid #ccc;
}

.comments #comment-list {
  margin-bottom: 15px;
}

.comments form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments input[type="text"] {
  max-width: 800px;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.comments button {
  padding: 10px 15px;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comments button:hover {
  background: var(--primary-color);
}

.user-comment {
  margin: 5px 0;
  font-style: italic;
  color: #555;
}

.success-message {
  color: var(--primary-color);
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}


.contact {
  padding: 20px;
  background: #f9f9f9;;
  border-radius: 5px;
  margin: 20px 0;
}

.contact h2 {
  text-align: center;
  margin-bottom: 10px;
}

.contact p {
  text-align: center;
  margin-bottom: 15px;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  margin-bottom: 10px;
  resize: none;
  padding: 10px;
  width: 100%;
  max-width: 800px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input:focus{
  border: var(--primary-color);
}

.contact button {
  padding: 10px 15px;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact button:hover {
  background: var(--primary-color);
}

#form-response {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
  color: var(--primary-color);
}




footer {
  background: var(--primary-color);
  font-size: 20px;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 10px;
}

.footer-nav h3, .social-media h3 {
  margin-bottom: 10px;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
}

.footer-nav ul li {
  margin: 5px 0;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-nav a:hover {
  color: var(--primary-color);
}

.social-media a {
  margin: 0 10px;
  color: #fff;
  font-size: 20px;
  transition: color 0.3s;
}


.social-media i{
  padding: .5rem;
}

.social-media i:hover{
  background-color: #fff;
  color: darkorchid;
  border-radius: 50%;
}


footer p {
  margin: 0;
  font-size: 14px;
}

